{% extends 'base.html'%}

{% block content %}


<h2 id="cname"><b>{{course.name}}</b></h2>
<br>
{% if user.is_authenticated %}
<h3 id="rating"><b>Current rating:</b> {{rating}}</h3>
<br>

<div class="container">
<form action="rate/" method="post">
    {% csrf_token %}

    <label for="rating" class="rate23"><b>Rate Course:</b></label>
    <select name="rating" id="rating" class="ratebox">
        <option value="0"> </option>
        <option value="1">Like</option>
        <option value="-1">Dislike</option>
    </select>
    <br>
    <input type="submit" id="rate_submit" class=" ratesubmit">
   

</form>
</div>

<div>

    {% for message in messages %}
    <h9 id="invalid_msg"><b>{{message}}</b></h9>
    {% endfor %}

</div>
{% else %}
    <a id="login" href="/accounts/login">Login to rate course</a>


{% endif %}

{% endblock %}