{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}

<h1>Hello, {{user.first_name}}!!!</h1>
<br>
<br>
<h2>Courses best suited for you:</h2>
{% for course in hybrid %}
<li>
    <a href="/course/{{course.id}}">{{course.name}}</a>
</li>
<br>
{% endfor %}
<br>
<h2>Courses based on your favourite topics:</h2>
{% for course in content %}
<li>
    <a href="/course/{{course.id}}">{{course.name}}</a>
</li>
<br>
{% endfor %}
<br>
<h2>Courses liked by similar users:</h2>
{% for course in collab %}
<li>
    <a href="/course/{{course.id}}">{{course.name}}</a>
</li>
<br>
{% endfor %}

{% else %}

<h1>Hello {{name}}, login to get recommendations</h1>
<br>

{% endif %}



{% endblock %}